.menu{
  background: #D5B0AC;
  color: #402E2A;
  font-weight: bold;
  text-align: center;
}

.menu span {
  display: inline-block;
  line-height: 30px;
  width: 100px;
  height: 30px;
}

.menu_vertical{
  margin-top: 10px;
  background: #FFFFFF;
}

.menu_vertical span{
  display: block;
  line-height: 30px;
  background: #D5B0AC;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 1px;
}

span:hover {
  background: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}
