<h1>Hãy hỏi một câu hỏi Đúng/Sai:</h1>
<form method="post" action="/api/question">
  <input class="form-control input-lg" placeholder="Enter a question" type="text" name="question" />
  <br>
  <input class="btn btn-primary" type="submit" />
</form>
