<h1 class="question">{{{question}}}</h1>
<form method="post" action="{{{link}}}">
  <input class="yes" type="submit" name="choice" value="yes">
  <input class="no" type="submit" name="choice" value="no">
</form>
