<br>
<h1 class="text-center">{{{question}}}</h1>
<br>
<form method="post" action="{{{link}}}">
  <div class="row">
    <button class="btn btn-danger col-md-offset-3 col-md-1 col-xs-offset-3 col-xs-2" type="submit" name="choice" value="no"><i class="glyphicon glyphicon-thumbs-down"></i> No</button>
    <button class="btn btn-primary col-md-offset-4 col-md-1 col-xs-offset-2 col-xs-2" type="submit" name="choice" value="yes"><i class="glyphicon glyphicon-thumbs-up"></i> Yes</button>
  </div>
  <br><br>
  <div class="row">
    <button class="btn btn-default col-md-offset-5 col-md-1 col-xs-offset-4 col-xs-2">Kết quả</button>
    <button class="btn btn-default col-md-1 col-xs-2" name="choice" value="random">Câu khác</button>
</form>
