<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="menu">
      <a href="/"><span>Homepagesub</span></a>
      <a href="about"><span>About me</span></a>
      <a href="myfile"><span>My File</span></a>
    </nav>
    {{{body}}}
  </body>
</html>
