.menu{
  background: #D5B0AC;
  color: #402E2A;
  font-weight: bold;
  text-align: center;
}

.menu span {
  display: inline-block;
  line-height: 30px;
  width: 100px;
  height: 30px;
  position: relative;
}

.menu nav{
  display: none;
  color: #402E2A;
  position: absolute;
}

nav span{
  display: block;
  line-height: 30px;
  background: #D5B0AC;
  width: 100px;
  height: 30px;
}

.menu > span:hover > nav {
  display: block;
  top: 100%;
}

.menu span span:hover > nav {
  display: block;
  top: 0px;
  left: 100%;
}

nav span:hover{
  background: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}
